############
##Client Config Profile "default"
##

profile_name =Default
map_teleport_allowed =true
partial_y_teleport =true
default_map_teleport_command_format =/wptp {x} {y} {z}
default_map_teleport_command_dimension_format =/wptp {x} {y} {z}
default_player_teleport_command_format =/call {name}
